* {
    margin: 0;
    padding: 0;
}

body {
    opacity: 0;
    position: fixed;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

body.charger {
    opacity: 1;
}

#canvas1 {
    position:absolute;
    pointer-events: none;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#affichagePing {
    position: absolute;
    top: 0;
    right: 0;
}

#gottaGoFast{
    opacity: 0;
    position:absolute;
    top : 0px;
    left : 0px;
}

#mildPower{
    opacity: 0;
    position:absolute;
    top : 0px;
    left : 0px;
}

#paintMore{
    opacity: 0;
    position:absolute;
    top : 0px;
    left : 0px;
}

#gottaGoFast.charger{
    opacity: 1;
}

#mildPower.charger{
    opacity: 1;
}

#paintMore.charger{
    opacity: 1;
}